body {
  background: #000000;
  color: white;
  font-size: 30px;
  text-align: center;
}

  #container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

  }

    .main-title {
      font-size: 50px;
      margin-bottom: 50px;
    }
    
    .length-control {
      width: 250px;
    }
    button {
      background: rgb(0, 0, 0);
      color: rgb(255, 196, 0);
      cursor: pointer;
    }
    .btn-level,
    .length-control {
      display: inline-block;
      .btn-level:nth-child(3) {
        width: 40px;
      }
    }
    .timer {
      border: 2px solid #fff;
      margin: 20px auto 10px auto;
      width: 170px;
      height: 70px;
      border-radius: 5px;
      position: relative;
      .timer-wrapper {
        position: absolute;
        width: 110px;
        height: 110px;
        left: 50%;
        top: 50%;
        margin-left: -95px;
      
      }
      #time-left {
        font-family: digital;
        font-size: 50px;
      }
    }

@media screen and (max-width: 600px) {
  #container {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
}

